@using Angjobs.Models

<div class="wrapper bg-light lter b-b top-actions">
    <h2 class="font-thin m-n">Daily jobs</h2>
</div>
<div class="jobs-list">
    <div>
        @foreach (DateTime item in Model.Keys)
        {
            <h4 class="wrapper font-thin m-n"> @item.ToString("dddd, MMMM d yyyy")</h4>
            <ul class="list-group list-group-lg no-radius">
                @foreach (JobPostViewModel job in Model[item])
                {
                    <li class="list-group-item clearfix " ng-repeat="job in jobs">
                        <div class="pull-right text-sm text-muted">
                            <span class="hidden-xs">@((job.salaryMin>0 ? "£"+job.salaryMin : "") + (!string.IsNullOrEmpty(job.salaryType) ? "per "+job.salaryType : ""))</span>
                        </div>
                        <div class="clear short-desc" ng-click="goTo('/jobdetails/' + @job.id )">
                            <div>
                                <a class="text-md" href="/#!/jobdetails/@job.id">@job.jobTitle</a>
                                <span class="label bg-light">@job.salaryNote</span>
                            </div>
                        </div>
                    </li>
                }
               
            </ul>
        }
       
    </div>
</div>