@using Angjobs.Models
 
<div class="wrapper bg-light lter b-b top-actions">
    <a class="btn btn-sm btn-default w-xxs m-r-sm" tooltip="Back to Inbox" href="javascript:history.back();"><i class="fa fa-long-arrow-left"></i></a>
</div>
<div class="job-details">

    <div class="wrapper b-b">
        <h3 class="font-thin m-n">@Model.jobTitle <small ng-show="details.tagline"><br />@Model.tagline</small></h3>
    </div>
    <div class="wrapper b-b">

        <span class="thumbnail thumb-sm m-r-sm" style="font-size:30px;">Job</span> 
        <span ng-show="details.hiringCompany && !details.hiringCompanyWebsite">
            @(Model.hiringCompany),
        </span>
        <a ng-show="details.hiringCompanyWebsite && details.hiringCompany" style="text-decoration:underline;" href='@(Model.hiringCompanyWebsite!=null && Model.hiringCompanyWebsite.StartsWith("http://") ? Model.hiringCompanyWebsite : "http://" + Model.hiringCompanyWebsite)' rel="nofollow" target="_blank">
            @(Model.hiringCompany),
        </a>
        <span>@(string.IsNullOrEmpty(Model.jobLocation) ? string.Empty : Model.jobLocation + ",") @Model.jobCountry @Model.GetSalary() </span>
        <div class="pull-right text-sm text-muted">
            <span am-time-ago="details.dateCreated"></span>
        </div>
    </div>
    <div class="wrapper">
        @Html.Raw(Model.jobDescription)
    </div>

    <div class="wrapper">
        <div class="panel b-a">
            <div class="panel-heading " ng-hide="apply">
                <div class="m-b-lg">
                    Click here to <a href="" class="text-u-l" ng-click="apply=!apply; applied = false">Apply</a> @*or <a href="" class="text-u-l" ng-click="apply=!apply">Send to friend</a>*@
                    <div ng-show="applied" class="b-l-success"><br />Thank you for applying for this role!</div>
                </div>
            </div>
            <form ng-show="apply" ng-submit="applyForJob()">
                <div class="panel-heading b-b b-light">
                    <span>From:</span> <input class="input input-sm form-control" type="email" ng-model="applicant.email" style="display:inline;" required />&nbsp;
                    +<a class="btn-link" href="javascript:void(0);" ng-click="showSkills=!showSkills">Add skills</a>&nbsp;
                    +<a class="btn-link" href="javascript:void(0);" ng-click="showExperience=!showExperience">Add experience</a>

                    <span ng-show="showSkills"><br />Skills:</span> <input ng-show="showSkills" class="input input-sm form-control" type="text" ng-model="applicant.skills" style=" display:inline;" />
                    <span ng-show="showExperience"><br />Experience:</span> <input ng-show="showExperience" class="input input-sm form-control" type="text" ng-model="applicant.experience" style="display:inline;" />
                </div>
                <textarea class="wrapper form-control" style="min-height:100px" ng-model="applicant.message"></textarea>
                <div class="panel-footer bg-light lt">
                    <button class="btn btn-link pull-right" type="button" ng-click="apply=!apply"><i class="fa fa-trash-o"></i></button>
                    <button class="btn btn-info w-xs font-bold" type="submit">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>