<!DOCTYPE html>
<html ng-app="app" ng-controller="mainCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Assets/Bootstrap/css/bootstrap.css")

    @Styles.Render("~/bower_components/font-awesome/css/font-awesome.min.css")

    @Styles.Render("~/styles")
</head>
<body>
    @RenderBody()

</body>
</html>
